/* Write your CSS here */
.language-item {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #0f172a;
  font-weight: 600;
  font-size: 16px;
  margin: 10px;
}
.active {
  border: 2px solid #0284c7;
  border-radius: 20px;
  padding: 3px 15px 3px 15px;
}
